<?xml version="1.0" standalone="yes"?>
<DocumentElement>
  <Maximum>
    <Type>FontItalics</Type>
    <Value>False</Value>
  </Maximum>
  <Maximum>
    <Type>FontBold</Type>
    <Value>True</Value>
  </Maximum>
  <Maximum>
    <Type>FontColour</Type>
    <Value>Olive</Value>
  </Maximum>
  <Maximum>
    <Type>FontName</Type>
    <Value>Tahoma</Value>
  </Maximum>
  <Maximum>
    <Type>Alignment</Type>
    <Value>Left</Value>
  </Maximum>
  <Maximum>
    <Type>PsalmsDefault</Type>
    <Value>False</Value>
  </Maximum>
  <Maximum>
    <Type>HymnDefault</Type>
    <Value>True</Value>
  </Maximum>
  <Maximum>
    <Type>PrayerDefault</Type>
    <Value>False</Value>
  </Maximum>
  <Maximum>
    <Type>PsalmsLines</Type>
    <Value>2</Value>
  </Maximum>
  <Maximum>
    <Type>BibleWords</Type>
    <Value>18</Value>
  </Maximum>
  <Maximum>
    <Type>HymnWords</Type>
    <Value>2</Value>
  </Maximum>
  <Maximum>
    <Type>PrayerWords</Type>
    <Value>18</Value>
  </Maximum>
  <Maximum>
    <Type>LiturgyWords</Type>
    <Value>10</Value>
  </Maximum>
  <Maximum>
    <Type>OlBckClr</Type>
    <Value>Red</Value>
  </Maximum>
  <Maximum>
    <Type>OlFntClr</Type>
    <Value>Yellow</Value>
  </Maximum>
  <Maximum>
    <Type>SelectedLang</Type>
    <Value>2</Value>
  </Maximum>
  <Maximum>
    <Type>SelectedLangId</Type>
    <Value>1</Value>
  </Maximum>
  <Maximum>
    <Type>BgImage</Type>
    <Value />
  </Maximum>
</DocumentElement>